:root {
    font-size: 15px;
}
@media (min-width: 550px) {
    :root {
        font-size: calc(10.2857142857px + 0.8571428571vw);
    }
}
@media (min-width: 1600px) {
    :root {
        font-size: 24px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    display: -webkit-box;
    display: flex;
    min-height: 400px;
}

body {
    min-height: 400px;
    width: 500px;
    min-width: 500px;
    margin: auto;
    background-color: #faf7f6;
    color: #805466;
}

#app {
    padding: 5%;
    width: 500px;
    min-width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.info-section {
    text-align: center;
}

#movie-search {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
}

label span {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
}

input {
    width: 374px;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid #f3edeb;
    margin-top: 0.25rem;
    margin-right: 1.25rem;
    box-shadow: 0 0.4rem 1rem -0.4rem #d4b1a5;
}

button {
    background: rebeccapurple;
    position: relative;
    color: white;
    border: none;
    padding: 0 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.6rem;
    line-height: 2.8;
    text-transform: uppercase;
    box-shadow: 0 0.4rem 1rem -0.4rem purple;
}

.list-buttons-container {
    overflow: hidden;
}

.list-button-container {
    float: left;
}

.movie-bin-buttons-container {
    float: right;
}

.search-results {
    padding-left: 0;
}
.search-results li + li {
    margin-top: 0.5rem;
}

.search-result {
    background-color: white;
    position: relative;
    border: 2px solid #f3edeb;
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0 1rem 1rem -0.75rem #dfc8c0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.search-result-thumbnail {
    -webkit-box-flex: 0;
    flex: none;
    width: 15%;
    width: 4rem;
    height: auto;
    align-self: flex-start;
}

.search-result-info {
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    list-style: none;
}

.search-result-title {
    font-size: 15px!important;
    font-weight: bold!important;
    color: #65002a;
}

.search-result-authors {
    font-size: 0.9rem;
}

.search-result-year {
    font-size: 0.8rem;
}

.saved-movie-card-buttons-container {
    overflow: hidden;
}

.save-movie-add-remove {
    float: left;
}

.labels-dropdown {
    float: right;
}

.save-movie-btn {
    /* margin-left: 25px!important; */
}

iframe {
    display:block;
    vertical-align:top;
    width: 100%;
    height: 300px;

  }
